<div th:fragment="content">
	<h1>BugQuery Essentials</h1>
	<p>This guide provides the essential information you can use to
		debug your code with BugQuery. It describes in detail the services
		BugQuery offers online and as a plug-in for Eclipse.</p>
	<h2>Eclipse Plug-in</h2>
	<p>
		<img src="./img/guide/bugquery_window.png" class="img-responsive"></img>
	</p>
	<p>BugQuery's Eclipse plug-in collects your program's stack trace,
		and helps you debug by automatically finding a relevant solution
		online, using BugQuery's index.</p>
	<p>This section will help you install the plug-in, and teach you
		how to use it.</p>
	<h3>Set Up</h3>
	<p>
		To use this plug-in you must have Eclipse installed on your machine.
		The plug-in is supported in Eclipse Neon (which you can download from
		the <a href="http://www.eclipse.org/downloads/">Eclipse Foundation
			website</a>). To install the latest version of the BugQuery plug-in
		please follow the directions in our <a class="internal present"
			href="https://github.com/TechnionYP5777/Bugquery/wiki/Client-Game-Plug-in-Installation">Client
			Game Plug in Installation</a> wiki. In the future, the plug-in will be
		available in the Eclipse marketplace.
	</p>
	<h3>Quickly Solve Bugs</h3>
	<p>
		<img src="./img/guide/bugquery_window_select.png"
			class="img-responsive"></img>
	</p>
	<p>
		First, locate BugQuery's toolbar in the Eclipse toolbar. Click the
		arrow next to the main icon (<img src="./img/guide/bugquery_main.gif"></img>)
		to select the project you want BugQuery to debug from the drop-down
		menu.
	</p>
	<p>
		<img src="./img/guide/bugquery_dropdown.png" class="img-responsive"></img>
	</p>
	<p>There are several methods you can use to debug with BugQuery.
		The plug-in will use the method you choose to retrieve the stack trace
		(which includes details about your execution), and then will display
		search results from our database in your default browser. BugQuery
		Markers will be added to the relevant lines in your code.</p>
	<p>With the BugQuery plug-in installed, you can choose from this
		selection of stack extraction methods:</p>
	<div class="row">
		<div class="col-md-6">
			<p>
				<img src="./img/guide/bugquery_in_console.png"
					class="img-responsive"></img>
			</p>
			<p>
				<b>Extract the trace from a console.</b> After an unsuccessful
				execution in Eclipse, the BugQuery plug-in can automatically isolate
				your program's stack trace from the console output. You can either
				press the BugQuery button shown above your console, or select the
				command's icon (<img src="./img/guide/bugquery_console.gif"></img>)
				in the toolbar. You can also use the keyboard shortcut
				<code>ctrl+6</code>
				(or
				<code>⌘+6</code>
				in macOS).
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<img src="./img/guide/bugquery_in_dialog.png" class="img-responsive"></img>
			</p>

			<p>
				<b>Input the trace yourself.</b> If other methods fail, you can
				always initiate a BugQuery search with your own input. Add your
				query (your stack trace) to the system clipboard using your default
				copy or cut, and select
				<code>Trace from Clipboard</code>
				(<img src="./img/guide/bugquery_clipboard.gif"></img>) from the
				BugQuery toolbar. Alternatively, pick
				<code>Trace from User Dialog</code>
				(<img src="./img/guide/bugquery_dialog.gif"></img>) , and insert
				your query in the window that opens up. Click OK and you are set.
				You don't have to worry about formatting or adding unnecessary
				information - the plug-in faithfully extracts the important parts of
				your input.
			</p>
		</div>
	</div>

	<h2>Website</h2>
	<p>
		<img src="./img/guide/bugquery_website.png" class="img-responsive"></img>
	</p>
	<p>
		Temporarily available at <a href="http://yonilx.ddns.net:2017">http://yonilx.ddns.net:2017</a>,
		the website lets you interact with BugQuery online. Most notably, you
		can query the database with traces in our <a href="/submit">Submit</a>
		page.
	</p>
</div>