<div th:fragment="content">

	<div class="jumbotron">
		<h1>Welcome to BugQuery!</h1>
		<p>BugQuery is a search engine for stack traces. It helps
			programmers solve bugs in their code in a quick and efficient way,
			using an index of questions and answers extracted from dedicated web
			services (like StackOverflow). BugQuery includes, along with the Q/A
			index, a website and a plug-in for Eclipse.</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/submit" role="button">Submit
				Your Trace</a>
		</p>

	</div>


	<h2 id="usebugquerytodebugyourcode">Use BugQuery to Debug Your
		Code</h2>

	<p>
		Debugging is a lot of hard work - exporting your output, searching
		multiple websites for something similar... The time adds up quickly!
		What if there was a simpler way? Well, now there is: BugQuery.
		BugQuery automatically collects the details that matter about your
		output, and gives you beautifully formatted answers within seconds. <a
			href="/guide.html">BugQuery Essentials</a> has all the information
		you'll need to get started.

	</p>
	<p>
		As of today, only <b>Java</b> stack trace search is supported in the
		website.
	</p>
	<p>
		BugQuery is being developed at The Technion as an yearly project. If
		you'd like to contribute to BugQuery, please visit our <a
			href="https://github.com/TechnionYP5777/Bugquery/wiki/Developer-Guide">developer
			guide</a>, which includes details about the installation process and the
		code.
	</p>
</div>