<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category name="BugQuery Commands" id="com.bugquery.commands" />
      <command name="Get Trace from Console" categoryId="com.bugquery.commands" id="com.bugquery.commands.fromconsole" />
      <command name="Get Trace from Clipboard" categoryId="com.bugquery.commands" id="com.bugquery.commands.fromclipboard" />
      <command name="Get Trace from Input Window" categoryId="com.bugquery.commands" id="com.bugquery.commands.frominputdialog" />
      <command defaultHandler="com.bugquery.actions.ChooseProjectHandler" categoryId="com.bugquery.commands" id="com.bugquery.commands.dropdownmenu" name="Choose project..." />
   </extension>
   
   
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.bugquery.commands.fromconsole" class="com.bugquery.actions.FromConsole" />
      <handler commandId="com.bugquery.commands.fromclipboard" class="com.bugquery.actions.FromClipboard" />
      <handler commandId="com.bugquery.commands.frominputdialog" class="com.bugquery.actions.FromInputDialog" />
      <handler commandId="com.bugquery.commands.dynamicitem" class="com.bugquery.actions.DynamicItemHandler" />
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <key commandId="com.bugquery.commands.fromconsole" contextId="org.eclipse.ui.contexts.window" sequence="M1+6" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
   </extension>
   
   <extension point="org.eclipse.ui.menus">
     	
     
      <menuContribution locationURI="menu:com.bugquery.commands.dropdownmenu">            
            <dynamic 
            	class="com.bugquery.actions.DynamicItem"
                id="com.bugquery.commands.dynamicitem" >                
            </dynamic> 	          
      </menuContribution>
      
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="toolbarmenu">
            <command commandId="com.bugquery.commands.dropdownmenu" icon="icons/bugquery_main.gif" label="BugQuery Toolbar" style="pulldown" />
            <command
                  commandId="com.bugquery.commands.fromconsole"
                  icon="icons/bugquery_console.gif"
                  label="Trace from Console"
                  style="push">
            </command>
            <command
                  commandId="com.bugquery.commands.fromclipboard"
                  icon="icons/bugquery_clipboard.gif"
                  label="Trace from Clipboard"
                  style="push">
            </command>
            <command 
            	  commandId="com.bugquery.commands.frominputdialog"
				  icon="icons/bugquery_dialog.gif"
				  label="Trace from User Dialog"
				  style="push" />
         </toolbar>
      </menuContribution>
   </extension>
	
	<extension point="org.eclipse.core.resources.markers" 
			id="com.bugquery.markers.tracemarker"
	  		name="Trace Marker">
	    <super type="org.eclipse.core.resources.textmarker"/>
	    <persistent value="false"/>
	</extension>

  <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="com.bugquery.markers.tracemarker"
            icon="icons/bugquery_main.gif"
            id="com.bugquery.markers.MarkerImageProvider">
      </imageprovider>
   </extension>	
	
	
 <extension
       point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant
          class="com.bugquery.console.ConsoleExtender"
          id="com.bugquery.console.ConsoleExtender">
       <enablement>
          <instanceof
                value="org.eclipse.ui.console.TextConsole">
          </instanceof></enablement>
    </consolePageParticipant>
 </extension>
 
</plugin>
